<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <ng-container *ngFor="let item of menu">
          <li class="nav-small-cap"> {{ item?.cap }} </li>
          <li class="user-profile active">
            <a class="has-arrow waves-effect waves-dark"
              aria-expanded="true" >
              <i [class]="item.icon"></i>
              <span class="hide-menu"> {{ item?.section }} </span>
            </a>
            <ul aria-expanded="true" class="collapse in">
              <li *ngFor="let itemMenu of item.items" routerLinkActive="active-link">
                <a [routerLink]="itemMenu.url"> {{ itemMenu.name }} </a>
              </li>
            </ul>
          </li>
          <li *ngIf="item.divider" class="nav-devider"></li>
        </ng-container>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
