<div class="bg-theme stats-bar">
  <div class="row">
      <div class="col-lg-4 col-md-4">
          <div class="p-20 active">
              <h6 class="text-white">Ventas Totales</h6>
              <h3 class="text-white m-b-0">$10,345</h3>
          </div>
      </div>
      <div class="col-lg-4 col-md-4">
          <div class="p-20">
              <h6 class="text-white">Este Mes</h6>
              <h3 class="text-white m-b-0">$7,589</h3>
          </div>
      </div>
      <div class="col-lg-4 col-md-4">
          <div class="p-20">
              <h6 class="text-white">Esta semana</h6>
              <h3 class="text-white m-b-0">$1,476</h3>
          </div>
      </div>
  </div>
</div>
