<div class="container-fluid">
  <div class="row page-titles">
    <div class="col-md-5 align-self-center">
      <h3 class="text-themecolor">Visualizador de datos</h3>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- Stats box -->
  <!-- ============================================================== -->
  <div class="row">
    <div class="col-lg-3">
      <app-card-info
        Title="Número de reses"
        Text="200"
        Icon="../assets/images/icon/expense-w.png"
        BgType="bg-info"
      >
      </app-card-info>
    </div>
    <div class="col-lg-3">
      <app-card-info
        Title="Ventas globales"
        Text="$40,000.00"
        Icon="../assets/images/icon/expense-w.png"
        BgType="bg-success"
      >
      </app-card-info>
    </div>
    <div class="col-lg-3">
      <app-card-info
        Title="Número de empleados"
        Text="10"
        Icon="../assets/images/icon/expense-w.png"
        BgType="bg-primary"
      >
      </app-card-info>
    </div>
    <div class="col-lg-3">
      <app-card-info
        Title="Inversión general"
        Text="$10,000.00"
        Icon="../assets/images/icon/expense-w.png"
        BgType="bg-danger"
      >
      </app-card-info>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- Resumen de ventas, compras, ganado chart -->
  <!-- ============================================================== -->
  <div class="row">
    <div class="col-lg-8 col-md-12">
      <app-wrapper-card>
        <div class="d-flex">
          <h4 class="card-title m-b-5">
            <span class="lstick"></span>
            Resumen de ventas
          </h4>
          <div class="ml-auto">
            <select class="custom-select b-0">
              <option selected="">2019</option>
              <option value="1">2020</option>
              <option value="2">2021</option>
              <option value="3">2022</option>
              <option value="3">2023</option>
            </select>
          </div>
        </div>
        <br />
        <app-stats-bar> </app-stats-bar>
        <app-pie-chart [dataChart]="dataChartLine"></app-pie-chart>
      </app-wrapper-card>
    </div>
    <!-- ============================================================== -->
    <!-- Ganado charts-->
    <!-- ============================================================== -->
    <div class="col-lg-4 col-md-12">
      <app-wrapper-card>
        <div class="d-flex">
          <h4 class="card-title mb-4">
            <span class="lstick"></span>
            Ganado
          </h4>
        </div>
        <app-pie-chart [dataChart]="dataChart"></app-pie-chart>
        <table class="table vm font-14 m-b-0">
          <tr *ngFor="let item of dataChart?.data?.labels; index as i">
            <td class="b-0">{{ item }}</td>
            <td class="text-right font-medium b-0">{{ porcentOfData[i] }}%</td>
          </tr>
        </table>
      </app-wrapper-card>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- Gráfico de ganados por potreros -->
  <!-- ============================================================== -->
  <div class="row">
    <div class="col-lg-12">
      <app-wrapper-card>
        <div class="d-flex">
          <h4 class="card-title">
            <span class="lstick"></span>
            Gráfico de ganados por potreros
          </h4>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-4">
            <div class="max-width-table">
              <table class="table vm font-14 m-b-0">
                <tr *ngFor="let item of dataChart?.data?.labels; index as i">
                  <td class="b-0">{{ item }}</td>
                  <td class="text-right font-medium b-0">{{ porcentOfData[i] }}%</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="col-lg-8">
            <app-pie-chart [dataChart]="dataChartPolar" class="max-with-chart"></app-pie-chart>
          </div>
        </div>
      </app-wrapper-card>
    </div>
  </div>
</div>
