<div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="myModalLabel">Formulario Ganados</h4>
      <button type="button" class="close" (click)="close()" aria-hidden="true">
        <i class="mdi mdi-close"></i>
      </button>
    </div>
    <div class="modal-body">
      <form class="form-horizontal form-material" [formGroup]="formCattle">
        <div class="form-group">
          <div class="col-md-12 m-b-20">
            <input
              formControlName="tipoAnimal"
              type="text"
              class="form-control"
              placeholder="Tipo animal"
            />
          </div>
          <div class="col-md-12 m-b-20">
            <input
              formControlName="raza"
              type="text"
              class="form-control"
              placeholder="Raza"
            />
          </div>
          <div class="col-md-12 m-b-20">
            <input
              formControlName="genero"
              type="text"
              class="form-control"
              placeholder="Género"
            />
          </div>
          <div class="col-md-12 m-b-20">
            <input
              formControlName="cantidad"
              type="text"
              class="form-control"
              placeholder="Cantidad"
            />
          </div>
          <div class="col-md-12 m-b-20">
            <label for="fchNacimiento">Fecha de nacimiento</label>
            <input
            formControlName="fchNacimiento"
              id="fchNacimiento"
              type="date"
              class="form-control"
            />
          </div>
          <div class="col-md-12 m-b-20">
            <input
              formControlName="registroVacuna"
              type="text"
              class="form-control"
              placeholder="Registro de vacuna"
            />
          </div>
          <div class="col-md-12 m-b-20">
            <input
              formControlName="numRegistro"
              type="text"
              class="form-control"
              placeholder="Número de registro"
            />
          </div>
          <div class="col-md-12 m-b-20">
            <input
              formControlName="estatus"
              type="text"
              class="form-control"
              placeholder="Estatus"
            />
          </div>
          <div class="col-md-12 m-b-20">
            <label for="fchBaja">Fecha de baja</label>
            <input
              formControlName="fchBaja"
              id="fchBaja"
              type="date"
              class="form-control"
            />
          </div>
          <div class="col-md-12 m-b-20">
            <input
              formControlName="valorEstimado"
              type="text"
              class="form-control"
              placeholder="Valor estimado"
            />
          </div>
          <div class="col-md-12 m-b-20">
            <input
              formControlName="pesoEstimado"
              type="text"
              class="form-control"
              placeholder="Peso estimado"
            />
          </div>
          <div class="col-md-12 m-b-20">
            <input
              formControlName="rancho"
              type="text"
              class="form-control"
              placeholder="Rancho o potrero"
            />
          </div>
          <div class="col-md-12 m-b-20">
            <input
              formControlName="notas"
              type="text"
              class="form-control"
              placeholder="Notas"
            />
          </div>
          <div class="col-md-12 m-b-20">
            <label for="fchIngreso">Fecha de ingreso como activo</label>
            <input
              formControlName="fchIngreso"
              id="fchIngreso"
              type="date"
              class="form-control"
            />
          </div>
          <div class="col-md-12 m-b-20">
            <input
              formControlName="emberazada"
              type="text"
              class="form-control"
              placeholder="Se encuentra embarazada"
            />
          </div>
          <div class="col-md-12 m-b-20">
            <label>Foto</label>
            <input
              formControlName="foto"
              type="file"
              class="form-control"
            />
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
      (click)="guardar()"
        type="button"
        class="btn btn-info waves-effect"
        data-dismiss="modal" >
        Guardar
      </button>
      <button
        type="button"
        class="btn btn-default waves-effect"
        (click)="close()">
        Cancelar
      </button>
    </div>
  </div>
